<form class="new-comment-form">
  <input type="hidden" name="postId" value="{{id}}">
  <div class="field">
    <label class="label">Comment</label>
    <div class="control">
      <textarea class="textarea" name="text" placeholder="Add a comment..."></textarea>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-link">Post Comment</button>
    </div>
  </div>
</form>
