{{!-- Hero Banner --}}
<div class="hero-image">
  <div class="hero-text athText">
    <h1 class="is-uppercase has-text-white">The Tech Blog</h1>
  </div>
</div>



{{!-- Dev Section --}}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        {{#each posts}}
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{title}}</p>
            </header>
            <div class="card-content">
              <div class="content">
                {{contents}}
              </div>
              <p class="has-text-grey">{{user.username}} • {{createdAt}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
