{{!-- Hero Banner --}}
<div class="hero-image">
  <div class="hero-text athText">
    <h1 class="is-uppercase has-text-white">The Tech Blog</h1>
  </div>
</div>



{{!-- Dev Section --}}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="title is-1 has-text-centered">Welcome to the Tech Blog</h1>
        <p class="subtitle is-4 has-text-centered">This is a blog for all things tech.  We will be posting about the latest tech news, new products, and more.  We hope you enjoy!</p>
      </div>
    </div>
  </div>
</section>