{{!-- bulma hero to give background --}}
<div class="hero is-link">
	<div class="hero-body is-justify-content-center is-align-items-center" id="hero">
		<div class="card">
			<h2 class="title has-text-dark has-text-centered pt-4 mb-0">Search For A Player:</h2>
			<div class="card-content">
				{{!-- Player Search Form --}}
				<form id="search-form">
					<div class="field">
						<label class="label">Name</label>
						<div class="control">
							<input class="input" type="text" name="name" placeholder="Required">
						</div>
					</div>
					<div class="field">
						<label class="label">Team</label>
						<div class="control">
							<input class="input" type="text" name="team" placeholder="Optional">
						</div>
					</div>
					<div class="field">
						<label class="label">Position</label>
						<div class="control">
							<input class="input" type="text" name="position" placeholder="Optional">
						</div>
					</div>
					<div class="field">
						<label class="label">Year</label>
						<div class="control">
							<input class="input" type="text" name="year" placeholder="Optional">
						</div>
					</div>
          {{!-- Submit Button --}}
					<div class="field is-grouped is-justify-content-center is-align-items-center">
						<div class="control">
							<button type="submit" class="button is-link is-large" id="search-button">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



<script>
  const form = document.querySelector('#search-form');
  const searchButton = document.querySelector('#search-button');

  function createPlayerCard(player) {
  	const card = document.createElement('div');
  	card.classList.add('card', 'mt-3', 'mb-3');

  	const cardContent = document.createElement('div');
  	cardContent.classList.add('card-content');

  	const media = document.createElement('div');
  	media.classList.add('media');

  	const mediaContent = document.createElement('div');
  	mediaContent.classList.add('media-content');

	const playerName = document.createElement('p');
	playerName.classList.add('title', 'is-4' ,'has-text-dark');
	playerName.textContent = `${player.firstName} ${player.lastName}`;
	mediaContent.appendChild(playerName);

	const playerTeam = document.createElement('p');
	playerTeam.classList.add('subtitle', 'is-6','has-text-dark');
	playerTeam.textContent = `Team: ${player.team}`;
	mediaContent.appendChild(playerTeam);

	const playerPosition = document.createElement('p');
	playerPosition.classList.add('subtitle', 'is-6','has-text-dark');
	playerPosition.textContent = `Position: ${player.position}`;
	mediaContent.appendChild(playerPosition);

	const playerJersey = document.createElement('p');
	playerJersey.classList.add('subtitle', 'is-6','has-text-dark');
	playerJersey.textContent = `Jersey: ${player.jersey}`;
	mediaContent.appendChild(playerJersey);

	media.appendChild(mediaContent);
	cardContent.appendChild(media);

	const content = document.createElement('div');
	content.classList.add('content');

	const saveButton = document.createElement('button');
	saveButton.classList.add('button', 'is-link');
	saveButton.textContent = 'Save';

		saveButton.addEventListener('click',async () => {
			// handle save logic 
			const data = {
			firstName: player.firstName,
			lastName: player.lastName,
			team: player.team,
			position: player.position,
			jersey: player.jersey
		};
		try {
			const urlencodedData = new URLSearchParams(data).toString();
			const response = await fetch('/players', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: urlencodedData
			});
			const responseData = await response.json();
			console.log('Player data saved:', responseData);
		} catch (error) {
			console.error('Error saving player data:', error);
		}
			});

  content.appendChild(saveButton);

  cardContent.appendChild(content);
  card.appendChild(cardContent);

  return card;
}







  form.addEventListener('submit', async (event) => {
	event.preventDefault();
	const name = form.querySelector('input[name="name"]').value;
	const team = form.querySelector('input[name="team"]').value;
	const position = form.querySelector('input[name="position"]').value;
	const year = form.querySelector('input[name="year"]').value;

	const data = { name, team, position, year };

	try {
		const response = await fetch('/playersearch', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(data),
		});
		const responseData = await response.json();
		console.log('Player data:', responseData);
		const player = responseData[0];
    	const card = createPlayerCard(player);
		const heroElement = document.querySelector('#hero');
		heroElement.appendChild(card);
		

	} catch (error) {
		console.error('Error retrieving player data:', error);
	}
  });
</script>
